body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(46, 46, 46, 0.73), rgba(46, 46, 46, 0.73)),
    url("../images/adminBackground.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#loginForm {
    background-color: #FFB5A7;
    border: 3px solid #FFB5A7;
    border-radius: 20px;
    padding: 10rem;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 3rem;
    gap: 1rem;
}

label {
    color: #ffffff;
}

input[type="text"] {
    width: 25rem;
    height: 3rem;
    font-size: 2rem;
    padding: 3px;
    text-align: center;
    border-radius: 20px;
    border: none;
    color: #FF677D;
}

input[type="submit"] {
    height: 3rem;
    border-radius: 20px;
    background-color: #FF677D;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #fef3f1;
}

input[type="submit"]:hover {
    background-color: #ec5273;
}

