@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@500&display=swap');


* {
    --navbar-color: #F8EDEB;
    --light-color: #fff8f7;
    --mid-color: #FFB5A7;
    --contrast-color: #FF677D;
    --contrast-color-hover: #f1586f;
    --border-color: #ff9b9bf6;
}

h1 {
    font-family: 'Lobster', sans-serif;
    font-size: calc(1rem + 4vw);
    color: #4EBCFF;
}

body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.image-container {
    width: 60%;
    height: 100%;
    text-align: center;
    align-content: center;
    padding: 5rem 0;
}

.image-container img {
    width: min(600px, 70%);
    height: auto;
    object-fit: cover;
}

.form-container {
    width: 40%;
    display: inline-block;
    background-color: var(--mid-color);
    align-content: center;
    justify-items: center;
}

#login-form {
    width: 80%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#login-form label {
    align-self: self-start;
    font-size: 2rem;
    color: var(--light-color);
}

#login-form input, button {
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: solid var(--border-color);
    color: var(--contrast-color);
}

#login-form input:focus {
    outline: none;
    border: solid var(--border-color);
}

#login-form button[type="submit"] {
    width: 100%;
    cursor: pointer;
    background-color: var(--contrast-color);
    color: var(--light-color);
    border: none;
}

#login-form button[type="submit"]:hover {
    background-color: var(--contrast-color-hover);
}

@media (max-height: 750px) {
    .image-container {
        padding: 0;
    }

    .image-container img {
        width: 50%;
    }
}

@media (max-width: 1250px) {
    #login-form {
        width: 100%;
        padding: 3rem;
    }
}

@media (max-width: 950px) {
    .form-container {
        width: 50%;
    }

    .image-container {
        width: 50%;
    }
}

@media (max-width: 750px) {
    .container {
        flex-direction: column;
    }

    .image-container {
        width: 100%;
        padding: 1rem;
    }

    .image-container img {
        width: 250px;
        object-fit: cover;
    }

    .form-container {
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 0 3rem;
        align-content: start;
    }

    #login-form {
        padding: 0 3rem 3rem 3rem;
    }

    #login-form input{
        font-size: 1.5rem;
        padding: 0.5rem;
        background-color: var(--light-color);
        border: 1px solid var(--border-color);
        color: var(--contrast-color);
    }

    #login-form label {
        display: none;
    }

    #login-form button[type="submit"] {
        margin-top: 5rem;
    }
}

@media (max-width: 500px) {
    #login-form {
        padding: 0;
    }
}

