@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;

    --navbar-color: #F8EDEB;
    --light-color: #fff8f7;
    --mid-color: #FFB5A7;
    --mid-color-hoover: #f59384;
    --contrast-color: #FF677D;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 8rem;
    color: #FF677D;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    color: #FF677D;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #FF677D;
}

p {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: #FFB5A7;
}

.section_padding {
    padding: 40px 80px;
}


/* header */

#navbar {
    height:75px;
    min-width: 350px;
    background-color: #F8EDEB;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    padding: 5px 1.5rem;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 999;
}

#svg-container {
    height: 60px;
}

#navbar svg {
    width: 60px;
    height: 60px;
}

#mainButtons {
    width: 100%;
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#userButtons {
    display: none;
    flex-direction: column;
    padding-top: 5px;
    max-width: 200px;
    background-color: var(--navbar-color);
    text-align: center;
    align-self: flex-end;
}


#userButtons a {
    padding: 0.7rem;
    cursor: pointer;
    color: var(--contrast-color);
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid var(--contrast-color);
}

#userButtons a label{
    width: 100%;
    cursor: pointer;
}

.user-option {
    font-size: 1.3rem;
    padding: 0.5rem;
}

#userButtons a:hover {
    background-color: var(--mid-color);
    color: var(--light-color);
}


/* CRUD */

#crud {
    padding: 1rem;
    width: 100%;
    min-width: 350px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


#formContainer {
    display: none;
    position: fixed;
    min-width: 350px;
    background-color: #fef3f1;
    padding: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(700px, 85vw);
    height: (650px, 85vh);
    flex-direction: column;
    justify-items: center;
    z-index: 999;
    border: solid var(--mid-color);
    border-radius: 10px;
}

.crudForm {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.crudForm select {
    width: 100%;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 0.5rem;
}

.crudForm input {
    width: 100%;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    padding: 10px;
}

.crudForm label {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.custom-upload-button {
    margin-top: 2rem;
    padding: 10px !important;
    background-color: var(--contrast-color);
    cursor: pointer;
    color: var(--light-color);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
}

.crudForm input[type="file"] {
    display: none;
}

.crudForm input[type="submit"] {
    background-color: var(--contrast-color);
    border: none;
    color: var(--light-color);
    margin-top: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

#formContainer h2 {
    font-size: min(calc(1rem + 4vw), 3rem);
    padding-bottom: 2rem;
}

.crud-buttons {
    display: flex;
    gap: 10px;
}

#listContainer {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    white-space: nowrap;
    border: 1px solid #FF677D;
    border-radius: 1rem;
    scrollbar-width: none;
}

#listContainer::-webkit-scrollbar {
    display: none;
}

#list {
    width: 100%;
    border: solid #FFB5A7;
    border-radius: 1rem;
    border-collapse: collapse;
}

#list .custom-upload-button {
    width: 50%;
    max-width: 300px;
    min-width: 150px;
    margin-top: 0;
    justify-content: center;
}

#list input[type="file"] {
    display: none;
}

#list input[type="text"], textarea, #editCategory {
    width: 100%;
    max-width: 300px;
    min-width: 150px;
    font-size: 1.2rem;
    border: solid var(--mid-color);
    border-radius: 0.5rem;
    padding: 0.3rem;
}

#list th, td  {
    text-align: left;
}

#list th {
    padding: 1rem;
    font-size: 2rem;
    color: #fef3f1;
}

#list td {
    padding: 0.5rem;
    font-size: 1.5rem;
    color: #FF677D;
}

#listImage {
    text-align: center;
}

#list img {
    width: 5rem;
    height: 5rem;
    border-radius: 20px;
}

.sort {
    cursor: pointer;
}

.sort-options-container {
    display: none;
}

#sortButton {
    display: none;
}


#headers {
    background-color: #FFB5A7;
}

#list tr:nth-child(even) {
    background-color: #ffe2dd;
}

.upload-td {
    justify-items: center;
}

/* CRUD buttons */

#crudSelection {
    background-color: #FFB5A7;
    color: #fef3f1;
    font-size: 1.5rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

#crudSelection:hover {
    background-color:#fc9999;
}

#actionButtons {
    text-align: center;
}

#formButtons {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#closeButton {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 1.3rem;
    right: 1.3rem;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#editButton {
    width: 3.5rem;
    height: 3rem;
    padding:4px 8px;
    background-color: #91C8E4;
    color: white;
    border: none;
    cursor: pointer;
}

#deleteButton {
    width: 3.5rem;
    height: 3rem;
    padding:4px 8px;
    background-color: #FF8BA7;
    color: white;
    border: none;
    cursor: pointer;
}

#addButton, #sortButton {
    background-color: #FF677D;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

#addButton i, #sortButton i {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fef3f1;
}

#sendEdit {
    width: 3.5rem;
    height: 3rem;
    padding:4px 8px;
    background-color: #A0E4CB;;
    color: white;
    border: none;
    cursor: pointer;
}

#cancelEditButton {
    width: 3.5rem;
    height: 3rem;
    padding:4px 8px;
    background-color: #FF8BA7;
    color: white;
    border: none;
    cursor: pointer;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    min-width: 350px;
}

.editCategoryDescription {
    width: 80%;
    height: 65px;
}

@media (max-width: 850px) {
    #headers {
        display: none;
    }

    #list #idContainer {
        background-color: var(--mid-color);
        color: var(--light-color);
    }

    tr {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #fff8f6;
    }

    #list input[type="text"], textarea, #editCategory {
        width: 60%;
        max-width: 300px;
        min-width: 150px;
    }

    #list td {
        text-align: center;
    }

    #list tr:nth-child(even) {
        background-color: #ffe2dd;
    }

    #listImage {
        width: 100%;
        height: 200px;
    }

    #listImage img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        object-position: center;
    }

    .editCategoryDescription {
        width: 50%;
        height: 80px;
    }

    .sort-options-container {
        width: 70%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 0;
    }

    .sort-options-container a {
        font-size: 1.5rem;
        background-color: var(--mid-color);
        border: 1px solid var(--contrast-color);
        border-radius: 0.5rem;
        color: var(--light-color);
    }

    .sort-options-container a:hover {
        background-color: var(--mid-color-hoover);
        transition: 0.5s;
    }

    #sortButton {
        display: block;
    }

}
